*{
    margin: 0;
}

.header{
    width: 100%;
    height: 75px;
    background-color: black;
    position: sticky;
    align-items: center;
    display: flex;
    color: white;
    justify-content: space-evenly;
    left: 0;
    top: 0;

}
.box1{
    width: 55%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
.falcon9{
font-size: 15px;
}
.falconheavy{
font-size: 15px;
}
.dragon{
font-size: 15px;
}
.starship{
font-size: 15px;
}
.updates{
font-size: 15px;
color: darkgray;
}
.shop{
font-size: 15px;
color: darkgray;
}
.about{
font-size: 15px;
color: darkgray;
}
.careers{
font-size: 15px;
color: darkgray;
}
.box2{
    width: 28%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    right: 20px;
}

.footer{
    width: 100%;
    height: 40px;
    background-color: black;
    display: flex;
    align-items: center;
    bottom: 0;
    position: relative;
}

.mid{
    height: 450px;
    width: 100%;
}

.gif{
width: 100%px;
height: 400px;

}
.image{
    width: 100%;
    height: 600px;
}
.text{
    width: 100%;
    height: 150px;
    background-color: rgba(0, 0, 0, .2);
    display: inline-flex;
    justify-content: space-evenly;
    color: white;
}
.opacity{
    color: rgba(255, 255, 255, 1);
}
.button{
width: 10%;
height: 25px;
background-color: white;
display: inline-block;
display: flex;
justify-content: center;
color: black;

}

.threeboxes{
    width: 100%;
    height: 700px;
    display: inline-flex;
    text-align: center;
    justify-content: space-evenly;
}
.boxone{
    width: 22%;
    height: 250px;
    background-color: blueviolet;
    justify-content: center;
}


.boxtwo{
    width: 22%;
    height: 250px;
    background-color: lightcyan;
}


.boxthree{
    width: 22%;
    height: 250px;
    background-color: peru;
}

.designstext{
    width: 100%;
    height: 200px;
    background-color: chocolate;
    align-items: flex-end;
    flex: stretch;
}

.footer{
    width: 100%;
    height: 60px;
    background-color: black;
    display: flex;
    align-items: center;
    bottom: 0;
    position: relative;
    color: darkgrey;
    justify-content: center;
}

.text2{
    width: 66%;
    justify-content:space-evenly;
    display: inline-flex;
    font-size: 15px;
    top: 50%;
}

.text3{
    width: 34%;
    left: 0;
    text-align: center;
    top: 50%;
    font-size: 15px;
}

